<nav id="panelUser" class="navUser hidden">
    <ul class="navUser__list">
        <li class="navUser__list__item">
            <a class="navUser__list__item--link" href="">login</a>
        </li>
        <li class="navUser__list__item">
            <a class="navUser__list__item--link" href="">register</a>
        </li>
        <li class="navUser__list__item">
            <a class="navUser__list__item--link" href="">empty</a>
        </li>
    </ul>
</nav>
