<nav id="panelBooks" class="navUser hidden">
    <ul class="navUser__list">
        <li class="navUser__list__item">
            <a class="navUser__list__item--link" href="{{ path('app_homepage') }}">home</a>
        </li>
        <li class="navUser__list__item">
            <a class="navUser__list__item--link" href="{{ path('app_category') }}">category</a>
        </li>
        <li class="navUser__list__item">
            <a class="navUser__list__item--link" href="">our mission</a>
        </li>
        <li class="navUser__list__item">
            <a class="navUser__list__item--link" href="">bestsellers</a>
        </li>
        <li class="navUser__list__item">
            <a class="navUser__list__item--link" href="{{ path('app_test') }}">Test</a>
        </li>
    </ul>
</nav>
