<nav id="panelUser" class="navUser hidden">
    <ul class="navUser__list">
        {% if is_granted('ROLE_ADMIN') %}
        <li class="navUser__list__item">
            <a class="navUser__list__item--link" href="">Admin Panel</a>
        </li>
        {% endif %}
        <li class="navUser__list__item">
            <a class="navUser__list__item--link" href="{{ path('app_logout') }}">Logout</a>
        </li>
        <li class="navUser__list__item">
            <a class="navUser__list__item--link" href="">Orders</a>
        </li>
        <li class="navUser__list__item">
            <a class="navUser__list__item--link" href="">reset password</a>
        </li>
    </ul>
</nav>
