<nav id="nav" class="nav">

    <div id="navBook" class="nav__logo">
        <img class="nav__img" src="{{ asset('img/nav/book.svg') }}" alt="book icon">
    </div>
    <div class="nav__search">
        <label>
            <input id="navSearch" class="nav__search--input" type="text" name="search" placeholder="Search">
        </label>
    </div>
    <div id="navUser" class="nav__user">
        <img class="nav__img" src="{{ asset('img/nav/user.svg') }}" alt="user icon">
    </div>

    <div id="cartUser>" class="nav__cart">
        <img id="cartImg" class="nav__cart__img" src="{{ asset('img/nav/cartblue.svg') }}" alt="cart icon">
        <div id="cartValue" class="nav__cart__value">0</div>
    </div>
</nav>
