body {
  background-color: #646ea5;
}

.category {
  border: 1px solid white;
  &__title{
    //border: 1px solid red;
    background-color: #528eac;
    text-transform: capitalize;
    font-size: 3rem;
  }
  &__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    //align-items: center;
    &__img{
      width: 100%;
    }
    &__title{
      font-size: 1.2rem;
    }
    &__book{
      text-decoration: none;
      color: black;
      margin: 10px;
      padding: 5px;
      background-color: #AAAAAA;
      border: 3px ridge #555;
      border-radius: 5px;
    }

  }
}
.text {
  font-family: Gabriola, serif;

}
.center {
  text-align: center;
}
