$bp-mobile: 380px;
$bp-tablet: 600px;
$bp-desktop: 1100px;

.latest{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1px;
  //border: 1px solid black;
  min-height: 300px;
  &__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @media (max-width: $bp-mobile){
      flex-direction: column;
    }
    padding: 10px;
    background-color: #3c5e91;
    border-radius: 15px;
    //border: 1px solid white;
    &__main{
      position: relative;
      margin: 5px;
    }
    &__img{
      margin: 5px 5px 0 5px;
      padding: 10px;
      background-color: #AAAAAA;
      border-radius: 15px;
      border: 1px solid #222;
      width: 164px;
    }
    &__title{
      border: 1px solid #222;
      font-family: Gabriola, serif;
      font-size: 1.2rem;
      max-width: 180px;
      border-radius: 15px;
      margin: 0 auto;
      padding: 5px 5px 0 5px;
      background-color: #ddd;
      text-align: center;
    }
    &__carousel{
      &__title{
        font-family: Gabriola, serif;
        font-size: 2rem;
        color: #ddd;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
  &__nav{
    filter: grayscale(90%);
    cursor: pointer;
    width: 32px;
  }

}
.right {
  transform: rotate(180deg);
}
