.nav{
  display: flex;
  &__logo{
    margin: 5px;
    font-size: 2.5rem;
    color: #339;
  }
  &__search{
    margin: 10px 15px;
    font-size: 1.2rem;
    &--input{
      text-align: center;
      border-radius: 15px;
      min-height: 30px;
      &:focus{
        border: 2px groove black;
        //background-color: #558e92;
        outline: none;
      }
    }
  }

}
