$nav-icon-width: 32px;
$nav-icon-height: 32px;
$nav-icon-margin: 5px 5px 5px 5px;


.nav{
  position: relative;
  z-index: 100;
  opacity: 1;
  background-color: #AAAAAA;
  display: flex;
  border-left: 3px double #ddd;
  border-right: 3px double #ddd;
  border-bottom: 2px solid #555;
  &__logo{
    margin: 0;
  }
  &__user{
    margin: 0;
  }
  &__cart{
    &__value{
      padding: 0 6px;
      opacity: 0.8;
      font-family: "Cambria Math",serif;
      background-color: #FFFFFF;
      border-radius: 50%;
      font-size: 1.5rem;
      //font-weight: bolder;
      color: darkgreen;
      position: absolute;
      right: 40px;
      top:8px;
    }
    &__img{
      position: absolute;
      width: $nav-icon-width;
      height: $nav-icon-height;
      cursor: pointer;
      top: 7px;
      right: 5px;
    }
  }
  &__img{
    width: $nav-icon-width;
    height: $nav-icon-height;
    margin: $nav-icon-margin;
    cursor: pointer;

  }
  &__search{
    margin: 10px 15px;
    font-size: 1.2rem;
    &--input{
      text-align: center;
      border-radius: 15px;
      min-height: 30px;
      &:focus{
        border: 2px groove black;
        //background-color: #558e92;
        outline: none;
      }
    }
  }

}
.navUser  {
  z-index: 100;
  position: absolute;
  opacity: 1;
  margin: 0;
  display: flex;
  //align-items: flex-start;
  &__list{
    list-style: none;
    margin: 15px 0;
    padding: 25px;
    background-color: #4a4a4a;
    border-radius: 0 10px 10px 0;
    border: 3px double #AAAAAA;
    border-left: 5px double #212224;
    &__item{
      margin: 5px 0;
      &--link{
        font-family: Gabriola, serif;
        font-size: 1.6rem;
        color: #ddd;
        text-decoration: none;
        text-transform: capitalize;
        &:active{
          color: orangered;
        }
      }
    }
  }

}

.hidden {
  display: none;
  visibility: hidden;
}
