body {
  background-color: #646ea5;
}

.window{
  margin-top: 60px;
  max-width: 760px;
  border: 3px ridge #479;
  &__bar{
    font-family: indie_flowerregular, serif;
    font-size: 1.5rem;
    border: 2px ridge #974;
    background-color: #AAAAAA;
    position: relative;
    padding: 0 25px 0 5px;
    &__img{
      opacity: 0.8;
      top: 7px;
      right: 0;
      position: absolute;
      width:28px;
    }
  }
  &__content{
    background-color: #dddddd;
    padding: 5px;
    &__title{
      margin: 2px;
    }
  }

}
.content{
  margin: 3px 5px;
  font-family: indie_flowerregular, serif;
  font-size: 1.2rem;
  text-align: justify;
}
.number{
  font-size: 1.5rem;
}
.line {
  border-bottom: 1px solid black;
}
.center {
  text-align: center;
}
.max{
  font-size: 2rem;
}
.m10 {
  margin-left: 10px;
  margin-right: 10px;
}
