
.sidePanel {
  display: flex;
  position: relative;

  &__button {

    &--close{
      margin-top: 20px;
      width: 48px;
      filter: grayscale(100%);
      cursor: pointer;
    }
  }

  &__block {
    text-align: center;
    background-color: #111;
    width: 275px;
    height: 80vh;
    border-radius: 0 0 15px 0;
  }
  &__menu {

    list-style: none;
    &__item{
      margin: 15px 0;
      padding: 5px;
      background-color: #333333;
      &--link{
        font-family: indie_flowerregular, serif;
        font-size: 2rem;
        text-transform: uppercase;
        padding: 10px;
        text-decoration: none;
        color: #eee;
      }
    }
  }
}
.left {
  display: none;
  visibility: hidden;
}
.button{
  display: flex;
  position: relative;
  &__open {
    width: 48px;
    cursor: pointer;
  }
}
