<div id="latest" class="latest">
    <img id="latestLeft" src="{{ asset('img/nav/left_arrow.svg') }}" class="latest__nav">
    <div id="latestContent" class="latest__content">

    </div>
    <img id="latestRight" src="{{ asset('img/nav/right_arrow.svg') }}" class="latest__nav right">

</div>
