<div class="panel">
      {% set c = 1 %}
{% for category in categories %}
      {% if c % 4 == 0 %}
           <br>
      {% endif %}
            <span id="category{{ c }}" class="panel__category">
                <img class="panel__category panel__category__img" src="{{ asset('img/nav/folder.svg') }}">
                {{ category }}</span>

      {% set c = c + 1 %}

{% endfor %}
</div>
