<div class="panel">
      {% set c = 0 %}
{% for category in categories %}
            <a href="{{ path('app_category_selected', {number: c}) }}" id="category{{ c }}" class="panel__category">
                <img class="panel__category__img" src="{{ asset('img/nav/folder.svg') }}">
                <span class="cat">{{ category }}</span>
            </a>
      {% set c = c + 1 %}

{% endfor %}
</div>
