{% extends 'base.html.twig' %}

{% block title %}Test{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {#  #}
    <link rel="stylesheet" href="{{ asset('css/components/test/test3.css') }}">

{% endblock %}

{% block body %}
<div id="loader" class="loader">
    <div id="loader_slider" class="loader__slider"></div>
</div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {#  #}
    <script src="{{ asset('js/components/test/test3.js') }}"></script>

{% endblock %}
