
{% block nav %}
<nav id="nav" class="nav">
    <div class="nav__logo">
        <img class="nav__img" src="{{ asset('img/nav/book.svg') }}" alt="book icon">
    </div>
    <div class="nav__search">
        <input class="nav__search--input" type="text">
    </div>
    <div class="nav__user">
        <img class="nav__img" src="{{ asset('img/nav/user.svg') }}" alt="user icon">
    </div>
</nav>
{% endblock %}
