
{% block nav %}
<nav id="nav" class="nav">
    <div class="nav__logo">
        <i class="fas fa-book"></i>
    </div>
    <div class="nav__search">
        <input class="nav__search--input" type="text">
    </div>
</nav>
{% endblock %}
