<nav id="panelBooks" class="navUser">
    <ul class="navUser__list">
        <li class="navUser__list__item">
            <a class="navUser__list__item--link" href="">products</a>
        </li>
        <li class="navUser__list__item">
            <a class="navUser__list__item--link" href="">category</a>
        </li>
        <li class="navUser__list__item">
            <a class="navUser__list__item--link" href="">our mission</a>
        </li>
        <li class="navUser__list__item">
            <a class="navUser__list__item--link" href="">bestsellers</a>
        </li>
        <li class="navUser__list__item">
            <a class="navUser__list__item--link" href="">random choice</a>
        </li>
    </ul>
</nav>
