$bp-mobile: 300px;
$bp-tablet: 500px;

body {
  background-color: #646ea5;
}
.cForm {
  text-align: center;
  @media (max-width: $bp-mobile){
    max-width: $bp-mobile;
  }
  @media (min-width: $bp-tablet){
    max-width: 450px;
  }
  margin: 0 auto;

  &__subject{
    width: 90%;
  }
  &__sender{
    resize: none;
    width: 90%;
  }
  &__content{
    width: 90%;
    font-family: indie_flowerregular, serif;
    font-size: 1.2rem;
  }
  &__submit{
    width: 90%;
  }

}
.mF{
  margin: 3px;
}
.pF{
  padding: 0 5px;
}
.bR {
  border-radius: 5px;
}
.fFS{
  font-family: indie_flowerregular, serif;
  font-size: 1.5rem;
}
.flash{
  @media (max-width: $bp-mobile){
    max-width: 280px;
  }
  @media (min-width: $bp-tablet){
    max-width: 350px;
  }
  margin: 10px auto;
  padding: 5px;
  background-color: green;
  border-radius: 5px;
  &__info{
    text-align: center;
    font-family: indie_flowerregular, serif;
    font-size: 1.4rem;
  }
}
